*{
    direction: rtl;
    text-align: right;
    font-size: 16.5%;
    
}
@font-face {
    font-family: snoopy;
    src: url(./VarelaRound-Regular.ttf);
  }

input{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 8rem;
}
#sendBtn{
    color:brown;
    font-size: 8rem;
    border-radius: 10px;
    border: 1px solid brown;
}
.menu{
    margin: 10px;
}
.playGround{
font-family: snoopy;
font-size: 8rem;
}
.playGround .item{
    border: 1px solid black;
    margin: 20px;
}
.item h4{
    color: brown;
    font-size: 8rem;
}